<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Taste Quiz</title>
</head>
<body>
    <h2>What's Your Style?</h2>
    <form method="post">
        <label>Which items do you prefer?</label><br>
        <input type="checkbox" id="skirt" name="items" value="skirt">
        <label for="skirt">Skirts</label><br>
        <input type="checkbox" id="pants" name="items" value="pants">
        <label for="pants">Pants</label><br>
        <input type="checkbox" id="shirt" name="items" value="shirt">
        <label for="shirt">Shirts</label><br>
        <input type="checkbox" id="dress" name="items" value="dress">
        <label for="dress">Dresses</label><br>
        <br>
        <label>What are your favorite colors?</label><br>
        <input type="radio" id="red" name="color" value="red" required>
        <label for="red">Red</label><br>
        <input type="radio" id="blue" name="color" value="blue">
        <label for="blue">Blue</label><br>
        <input type="radio" id="green" name="color" value="green">
        <label for="green">Green</label><br>
        <input type="radio" id="black" name="color" value="black">
        <label for="black">Black</label><br>
        <br>
        <input type="submit" value="Save Preferences">
    </form>
</body>
</html>
